@page {
    margin: 0.5in; /* Margin for each printed piece of paper */
}
  
@page :first {
    margin-top: 0.5in; /* Top margin for first page of paper */
}

@page {
    size: letter;
}

@media print {

    body {
        margin: 0;
        zoom: 100%; /* Adjust this value if you want wider content to fit */
    }

    .page-break {
        /* Allows user to force page breaks in the notebook using <div class="page-break"></div> in a markdown cell */
        break-before: always;
        page-break-before: always; /* legacy CSS for older browsers */
    }
}

h1, h2, h3, h4, h5, h6 {
    break-after: avoid-page;
    page-break-after: avoid-page;
}