{%- extends 'lab/index.html.j2' -%}

{% block notebook_css %}
{{ super() }}
{{ resources.include_css("./static/ipycalc.css") }}
{% endblock %}

{% block body_footer %}
{{ super() }}
<script>
(function() {
    var counters = [0, 0, 0, 0, 0];
    var headings = document.querySelectorAll('.jp-Notebook h2, .jp-Notebook h3, .jp-Notebook h4, .jp-Notebook h5, .jp-Notebook h6');

    headings.forEach(function(heading) {
        var level = parseInt(heading.tagName.charAt(1)) - 2;

        counters[level]++;
        for (var i = level + 1; i < counters.length; i++) {
            counters[i] = 0;
        }

        var number = '';
        for (var i = 0; i <= level; i++) {
            number += counters[i] + '.';
        }

        var span = document.createElement('span');
        span.textContent = number + ' ';
        heading.insertBefore(span, heading.firstChild);
    });
})();
</script>
{% endblock %}
